test/*
myCrlmmGT2.Rnw
ffobjs*
auto*
ModelForPolymorphicX.pdf
.Rhistory
*.o
*.so
*.tex
illumina_copynumber-*
Makefile2
Rprof*
testing*
sample.CNSetLMff.rda
extdata*
copynumber-*
copynumber.log
*.log
*.png
*~
relocating*
push
pull
copynumber.R
runcopynumber.R
runillumina.R
