.auto*
CopyNumberOverview.pdf
test.*
debug.*
tmp.*
*.aux
*.dvi
cnvignette.org
test/*
*.o
*.so
myCrlmmGT2.Rnw
ffobjs*
auto*
ModelForPolymorphicX.pdf
.Rhistory
*.tex
illumina_copynumber-*
Makefile2
Rprof*
testing*
sample.CNSetLMff.rda
extdata*
copynumber-*
copynumber.log
*.log
*.png
*~
relocating*
push
pull
copynumber.R
runcopynumber.R
runillumina.R
